<template>
  <div class="bg-primary-500 px-4 md:px-0 py-6">
    <div class="container m-auto">
      <NuxtLink to="/">
        <h1 class="text-white">Logo</h1>
      </NuxtLink>
    </div>
  </div>
</template>