<template>
  <img src="https://dummyimage.com/300x100/fff/0D359B" class="m-auto mb-8" alt="Logo here is the simple" />
  <div class="border border-secondary-500 rounded-md p-8">
    <h1 class="text-center text-2xl text-bold">โปรดระบุประเภทใช้งาน</h1>
    <div class="flex flex-col space-y-6 mt-12">
      <div class="grid grid-cols-2 sm:grid-cols-3 gap-8 lg:gap-0 lg:flex lg:flex-row lg:items-center lg:justify-center lg:space-x-12">
        <div v-for="choice in choiceTypes" :key="choice.name" class="w-36 h-36 m-auto md:m-0 rounded-full bg-white border-4 border-primary-500 shadow-xl flex items-center justify-center flex-col space-y-4 cursor-pointer">
          <i :class="[choice.icon, 'text-4xl text-primary-500']"></i>
          <span class="text-primary-500">{{ choice.name }}</span>
        </div>
      </div>
      <div class="w-96 max-width-full h-px bg-thirdary-500 m-auto"></div>
      <div class="flex items-center justify-center space-x-3">
        <span>ขอความช่วยเหลือ</span>
        <a href="#" class="text-primary-500">e-Agency</a>
        <span class="text-thirdary-500">/</span>
        <a href="#" class="text-primary-500">พนักงาน</a>
        <span class="text-thirdary-500">/</span>
        <a href="#" class="text-primary-500">ตัวแทนทั่วไป</a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      choiceTypes: [
        {
          icon: 'fa fa-user',
          name: 'e-Agency',
        },
        {
          icon: 'fa fa-user-tie',
          name: 'พนักงานวิริยะ',
        },
        {
          icon: 'fa fa-user-graduate',
          name: 'วิทยากร',
        },
        {
          icon: 'fa fa-users',
          name: 'ตัวแทนทั่วไป',
        },
        {
          icon: 'fa fa-users',
          name: 'บุคคลทั่วไป',
        },
      ]
    }
  } 
}
</script>